{{ define "main" }}

<h1>About</h1>

{{ with .Site.GetPage "/about" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
            <p>
                {{ .Summary }}
            </p>
    {{ end }}
{{ end }}
</p>

<br/>

<div class="image-grid">
    <img src="/photos/silvia_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/cippo_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/zlata_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
</div>

<div class="image-grid">
    <img src="/photos/antuum_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/carmen_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/eeefff_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
</div>

<div class="image-grid">
    <img src="/photos/kamo_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/larsi_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/andrea_dithered.jpg" alt="cyanotype of plants and usb cables" class="image-responsive">
</div>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}