{{ define "main" }}

<h1>About</h1>

{{ with .Site.GetPage "/about" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
            <p>
                {{ .Summary }}
            </p>
    {{ end }}
{{ end }}
</p>

<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<div class="image-grid">
    <img src="/photos/cyanotype_1.webp" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/cyanotype_2.webp" alt="cyanotype of plants and usb cables" class="image-responsive">
    <img src="/photos/cyanotype_3.webp" alt="cyanotype of plants and usb cables" class="image-responsive">
</div>

{{ end }}